NEXT_PUBLIC_SANITY_PROJECT_ID=xxxx
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01

SANITY_API_TOKEN=xxxxx (pokud máš writeClient)

EMAIL_USER=xxxx
EMAIL_PASS=xxxx
EMAIL_TO=xxxx

